<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Alberto Morales</string>
	<key>Builder Version</key>
	<string>9537.73.11</string>
	<key>CFBundleDisplayName</key>
	<string>openWindow</string>
	<key>CFBundleIdentifier</key>
	<string>us.amorales.openWindow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>openExtensionWindow</string>
				<key>Identifier</key>
				<string>openWindow</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Label</key>
				<string>openWindow</string>
				<key>Palette Label</key>
				<string>openWndow</string>
				<key>Tool Tip</key>
				<string>openWindow</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>all.js</string>
				<string>extensionWindow.js</string>
			</array>
		</dict>
	</dict>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://amorales.us</string>
</dict>
</plist>
